<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="icon" href = "FindMelogo.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <style> @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");</style>
    <script>
    $(document).ready(function(){


        $("button#searchButton").click(function(){
          var name = $("input").val();
          const checkbox = document.getElementById('tft_check');

          // 2. checked 속성을 체크합니다.
          const is_checked = checkbox.checked;
          console.log("-------------------------------")
          console.log(is_checked)
          if(is_checked==1){
            location.href = "http://localhost:3000/tft/search/" + name;

          } else {
            location.href = "http://localhost:3000/search/" + name;

          }
  
  
})
});
    </script>
  </head>
  <body>
        <div class="imgOpacity">
        <div class="center">
          <img src= "/FindMelogo.png" width = 150, height = 150/>
        </div>
        <div class="center2">
          <div>
            <input type="text" class="input_text" placeholder="소환사 이름">
            <input type="checkbox" id="tft_check" name="tft_check" checked>
            <label for="tft_check">TFT</label>
          </div>
        </div>
        </div>
        <div>
          <p>tft</p>
        </div>
      <br></br>
      <font size=10em>
        <strong>
          <%= c_summoner + "\n"%>
          <br>
          <img src= <%=c_profile%> width=120, height=120>
          
           
        </br>
        </strong>
      </font>
      <p>
        <%= "소환사 레벨 : "+c_summonerlev%>
      </p>
      <br></br>
      <br></br>
      <table class="basic", width="500">
            <tbody>
              <tr><td><font size = 5em>
                 <strong>
                   <%= "솔로 랭크"%>
                 </strong>
                </font></td>
                <td><font size = 5em>
                  <strong>
                    <%= "자유 랭크"%>
                  </strong>
                </font></td></tr>
                <tr> 
                  <td><img src= <%=c_imgtier_S%> width=120, height=120></td>
                  <td><img src= <%=c_imgtier_F%> width=120, height=120></td>
                </tr>
                <tr>
                  <td><%= "Tier : " + c_tier_S + " " + c_rank_S + " / " + c_leaguePoint_S + "점"%></td>
                  <td><%= "Tier : " + c_tier_F + " " + c_rank_F + " / " + c_leaguePoint_F + "점"%></td>
                </tr>
                <tr>
                  <td><%= "Win : " + c_wins_S + "   /   Lose : " + c_losses_S%></td>
                  <td><%= "Win : " + c_wins_F + "   /   Lose : " + c_losses_F%></td>
                </tr>
                <tr>
                  <td><%= "승률 : " + ((c_wins_S/(c_wins_S+c_losses_S))*100).toFixed(2) + "%" %></td>
                  <td><%= "승률 : " + ((c_wins_F/(c_wins_F+c_losses_F))*100).toFixed(2) + "%" %></td>
                </tr>
                <tr>
                  <td><%= "캐리력 : " + (c_wins_S/c_losses_S*2).toFixed(2) %></td>
                  <td><%= "캐리력 : " + (c_wins_F/c_losses_S*2).toFixed(2) %></td>
            </tbody>
        </table>
        <br></br>
 
        <div class="center">
            <strong>
          <%= "로테이션 챔피언: "  %>
        </strong>
          <% for (var i=0; i<c_rotation.length-1; i++){ %>
              <img src= <%=c_rotation[i]%> width=50, height=50>
              <% } %>
      </div>
      <br></br>
        </div>
        <div class="center">
          <strong>
        <%= "추측 MMR(솔로랭크):"  %>
        <%if (c_tier_S=="SILVER") {%>
          <%="1200~1500"%>
          <%}%>
        <%if (c_tier_S=="GOLD") {%>
          <%="1500~1800"%>
          <%}%>
        <%if (c_tier_S=="PLATINUM") {%>
          <%="1800~2100"%>
          <%}%>
        <%if (c_tier_S=="DIAMOND") {%>
          <%="2100~2400"%>
          <%}%>
        <%if (c_tier_S=="MASTER") {%>
            <%="2400~2600"%>
            <%}%>
        <%if (c_tier_S=="GRANDMASTER") {%>
            <%="2600~2800"%>
            <%}%>
        <%if (c_tier_S=="CHALLENGER") {%>
            <%=">3000"%>
            <%}%>
      </strong>
      <br></br>
      <div class="center">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" onclick="location.href = 'http://www.findmegg.ml:3000/matches/' + '<%=c_summoner%>'">전적기록 보기</button>
        </span>
      </div>
      <br></br>
    </div>
      <% for (var i=0; i<6; i++){ %>
        <div class="champImage">
          <div class="center">
            <input type="image" src=<%=c_pic[i]%> onClick="location.href='http://www.findmegg.ml:3000/data/'+ '<%=c_name[i]%>'">
            <%= c_korname[i] %>
        </B>
        <%= "point: " + c_point[i]+ "  \tchampion level: " + c_lev[i] %>
          <% } %>
          </div>
        </div>
</body>
</html>